### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/Resources_schools_complete.csv"

student_data_to_load = "Resources/Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
completed_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
completed_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools for both Schools and Student
school_count = len(completed_data["school_name"].unique())
school_count

15

In [4]:
# Calculate the total number of schools for both Schools and Student
student_count = len(completed_data["Student ID"].unique())
student_count

39170

In [5]:
# Calculate the Total Budget
budget_total = school_data["budget"].sum()
budget_total

24649428

In [6]:
# Calculate the average math score
math_avg = completed_data["math_score"].mean()
math_avg

78.98537145774827

In [7]:
# Calculate the average reading score
reading_avg = completed_data["reading_score"].mean()
reading_avg

81.87784018381414

In [20]:
# Calculate the percentage of students with a passing math score (70 or greater)

# First get the count of students passing math
passing_math_stu_count = completed_data[(completed_data["math_score"] >= 70)].count()["student_name"]
passing_math_stu_count

29370

In [21]:
# Then calculate the percentage of students passing math & show the average
passing_math_stu_percent = passing_math_stu_count / float(student_count) * 100
passing_math_stu_percent

74.9808526933878

In [18]:
# Calculate the percentage of students with a passing reading score (70 or greater)

# First get the count of students passing reading
passing_reading_stu_count = completed_data[(completed_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_stu_count

33610

In [22]:
# Then calculate the percentage of students passing reading & show the average
passing_reading_stu_percent = passing_reading_stu_count / float(student_count) * 100
passing_reading_stu_percent

85.80546336482001

In [ ]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

In [ ]:
# Create a dataframe to hold the above results

In [ ]:
# Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type